body {
  width: 100%;
  margin: 0;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 37, 83, 0.93);
}
