h1 {
  color: white;
}

h2 {
  color: rgba(40, 219, 201, 0.84);
}

p {
  color: white;
}

html {
  background-color: rgba(16, 37, 83, 0.93);
}

.wrapper {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  gap: 10rem;
}

img {
  border-radius: 25px;
  width: 20rem;
  /* border-bottom-right-radius: 50%; */
  border: 3px solid white;
}

.table, td, tr {
  color: white;
  border: 1px solid white;
  background-color: rgba(40, 219, 201, 0.20);
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
