.wrapper {
  border-bottom: 3px rgba(40, 219, 201, 0.84) solid;
  border-width: 90%;
  width: 100%;
  padding: 0px;
  background-color: rgba(16, 37, 83, 0.93);
  display: flex;
  justify-content: space-between;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.navlist {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 1rem;
}

.logolist {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & a {
    color: white;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
}

.link {
  color: white;

  & a {
    color: white;
    font-size: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
}

#contact {
  padding: 10px;
  background-color: rgba(40, 219, 201, 0.84);
  border-radius: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    gap: none;
    max-width: 100vw;
  }
  .navlist {
    gap: 0.5rem;
    max-width: 100vw;
    padding-left: 0px;
  }
  .navlist a {
    font-size: 0.95rem;
  }
  .logolist a {
    display: none;
  }
  .logolist {
    max-width: 100vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper {
  }
  .navlist {
    gap: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navlist {
    gap: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
