.gridContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 1rem;
}


.gridItem {
  flex: 1 0 25%;
  padding: 4rem;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid white;
}

.gridItem > background-img {
  border: 1px solid red;
}

.gridItem > a {
  font-size: 2rem;
  text-decoration: none;
  color: rgba(40, 219, 201, 0.84);
  padding: 100px;
  font-weight: 900;
}
