h2 {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 2rem;
}

.column {
  width: 25%;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#skillColumn {
  border: 1px white solid;
  background-color: rgba(40, 219, 201, 0.84);
  width: 35%;
}
