h2 {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 1rem;
}

.column {
  width: 25%;
  border: 1px white solid;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skillCard {
  width: 50%;
  background-color: white;
  > p {
    color: blue;
  }
  > h2 {
    color: blue;
  }
}
